<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://swopenapi.seoul.go.kr/;">
    <title>나지금어디지?</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css?ver=0.02">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    
</head>
<body>
        <div id="app">
          <div class="container">
            <h1>내 지하철 위치</h1>
            <div class="tile-container">
              <div v-for="line in subwayLines" :key="line.id" :id="line.id" class="tile" @click="selectTile(line.name)" v-html="line.name"></div>
              </div>
            <p>열차번호를 입력하고 조회버튼을 누르세요</p>
            <div class="input-group">
              <input v-model="trainNumber" type="text" placeholder="열차 번호"/>
              <button @click="searchTrain">조회</button>
            </div>
            <div v-if="result" class="result-box">
              {{ result }}
            </div>
          </div>
        </div>
        <script src="app.js?ver=0.02"></script>
</body>
</html>
